@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+JP:100,200,300,regular,500,600,700);

* {
  font-family: 'IBM Plex Sans Thai', 'IBM Plex Sans JP', sans-serif;
  transition: all .3s;
}

body {
  padding: 0;
  margin: 0;
  background: url(https://picsum.photos/1920/1080);
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1rem);
}

.container .card {
  min-width: 18rem;
  max-width: 22rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.container .card img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10rem;
  height: auto;
  border: 10px solid #fe6e6f;
  border-radius: 100%;
  padding: 0;
}

.container .card img:hover {
  padding: 1rem;
  border: 5px solid #fe6e6f;
}

.container .card .card-body {
  padding: 1rem;
  padding-top: 0;
}

.container .card .card-body * {
  margin: 0.5rem;
}

.container .card .card-body .link-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.container .card .card-body .link-container a {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  text-decoration: none;

  border-radius: 100%;
}

.container .card .card-body .link-container a:hover {
  transform: scale(.9);
  opacity: .8;
}

.container .card .card-body .link-container div {
  width: 50px;
  height: 50px;
}

.container .card .card-body .link-container a.facebook {
  background: #4267B2;
  color: whitesmoke;
}